@tailwind base;
@tailwind components;
@tailwind utilities;

/* CRITICAL FIX: This forces the app to fit the screen exactly. */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Stops the whole page from scrolling */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f2f4;
  overscroll-behavior: none;
}
